*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cedarville";
    src: url(/media/CedarvilleCursive-Regular.ttf) format("truetype");
}

body {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 14px;
}

.split {
    height: 100vh;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    width: 35vw;
}

.right {
    right: 0;
    width: 65vw;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.left .bg-img {
    background-image: url(/media/navi-photography.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #CCC;
    height: 100%;
    width: 100%;

    /* To support the position of contained elements */
    position: absolute;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20vh;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
    max-width: 7rem;
    max-height: 7rem;
}

.logo .creator {
    color: #FFF;
    font-size: 5rem !important;
    font-family: 'cedarville' !important;
    margin-left: 1rem;
}

.img-copyright {
    margin: auto auto 0 auto;
    color: #d3d0d0;
}

/* The left side starts here */
/* Note that div.wrap applies to both sides */

.form-side {

}

header {
    background-color: #eee;

    font-size: 1.2rem;

    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 2rem 8vh;
}

h3 {
    font-size: 1.3rem;
}