*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cedarville";
    src: url(/media/CedarvilleCursive-Regular.ttf) format("truetype");
}

body {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 14px;
}

.split {
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    width: 35vw;
}

.right {
    right: 0;
    width: 65vw;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.left .bg-img {
    background-image: url(/media/Photo\ by\ Georgi\ Kalaydzhiev\ on\ Unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;

    /* To support the position of contained elements */
    position: absolute;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20vh;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.logo img {
    max-width: 7rem;
    max-height: 7rem;
}

.logo .creator {
    color: #FFF;
    font-size: 5rem !important;
    font-family: 'cedarville' !important;
    margin-left: 1rem;
}

.img-copyright {
    margin: auto auto 0 auto;
    color: #d3d0d0;
}

/* The left side starts here */
/* Note that div.wrap applies to both sides */

.form-side {
    max-height: 100vh;
}

header {
    background-color: #eee;

    font-size: 1.2rem;

    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 2rem 6vh;
}

h3 {
    font-size: 1.3rem;
    margin: 1.2rem 0 3rem 2rem;
}

form {
    height: auto;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    margin-bottom: 2.5rem;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.valid-text {
    font-size: 1.1rem;
    padding: 4px;
    border: 2px solid #CCC;
    border-radius: 5px;
}

.valid-text:focus {
    outline: none;
    border: 2px solid #84b2e6;
}

.invalid-text {
    outline: none;
    font-size: 1.1rem;
    padding: 4px;
    border: 2px solid #ff6161;
    border-radius: 5px;
}

form label {
    text-transform: uppercase;
}

#matchingPasswords {
    color: #ff6161;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    min-height: 1rem;
    margin: 1px 0 0 2px;
}

footer {
    height: 30vh;
    box-shadow: 0px 3px rgba(129, 127, 127, 0.2) inset;
    background-color: #eee;
    padding: 2rem;
}

footer input {
    margin-bottom: 2rem;
    padding: .75rem 2.5rem;

    font-size: 1rem;
    font-weight: bold;
    color: #111;

    border: none;
    background-color: #84b2e6;
    border-radius: 5px;
}

footer input:hover {
    cursor: pointer;
    background-color: #80aada;
}

footer input:active {
    background-color: #3e75b4;
    color: #FFF
}

footer .already-user {
    font-weight: bold;
}

footer .already-user a {
    text-decoration: none;
    font-size: 1.05rem;
}

footer .already-user a:hover {
    color: #3786e0;
}